web: gunicorn config.wsgi --log-file - 
#or works good with external database
web: python manage.py migrate && gunicorn config.wsgi
web: python manage.py collectstatic --noinput && gunicorn config.wsgi